/*! Properties' concatenation */

/*! Example 1*/
.depth-top() {
  box-shadow+: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.depth-bottom() {
  box-shadow+: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.class1 {
  .depth-top();
  .depth-bottom();
}

/*! Example 2*/
.scale(@scale) {
  transform+_: scale(@scale);
}

.rotate(@angle) {
  transform+_: rotate(@angle);
}

.translate(@px) {
  transform+_: translateX(@px);
}

.block {
  .scale(1.75);
  .rotate(45deg);
  .translate(10px);
}
/*! ----------------------------------------------------------------------- */
/*! Lists */
@list: "Основы", "Работа с селекторами, медиа-запросами и файлами", "Переменные и примеси", "Операции со свойствами и встроенные функции";

.class2 {
  @currentStatus: e(extract(@list, 4));
  content: %("Текущая глава: %a", @currentStatus);
}

.class3 {
  content: length(@list);
}
/*! ------------------------------------------------------------------
unit(10px)  // 10
unit(10rem) // 10
unit(10cm)  // 10

// Такой единицы нет в CSS
unit(10apple) // 10
*/
/*! ------------------------ Work with colors------------------------------------------ */

.class3 {
  color: rgb(111, 222, 333);
  color: hsv(60, 100%, 50%);
  color: hsl(60, 100%, 50%);
  color: hsla(60, 100%, 50%, .5);
  color: lighten(hsl(80, 90%, 20%), 10%);
  color: darken(hsl(80, 90%, 20%), 10%);
  color: darken(#fff, 10%);
  color: mix(rgba(255, 255, 255, 1), rgba(255, 255, 255, .5), 50%);
  color: mix(#fff, #bbb, 60%);
  color: contrast(#000);
}
